html {
	font-family: "SourceSansPro.woff", Helvetica, sans-serif;
	font-size: 16px;
}

body {
	color: black;
	background-color: #727272;
	margin: 0;
	vertical-align: top;
}

h1 {
	font-size: 32px;
	font-weight: 400;
	padding: 0;
	margin: 8px;
}

.section {
	display: inline-block;
	margin: 8px;
	padding: 8px;
	color: white;
	background-color: #444444;
	border-radius: 8px;
	box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	vertical-align: top;
}

.section_title {
	font-size: 24px;
}

.device_properties {
	vertical-align: top;
	overflow: auto;
}

.axes {
	display: inline-block;
	vertical-align: top;
}

.stop_button {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 4px;
	cursor: pointer;
	background-color: #E00000;
	border: none;
	text-decoration: none;
	vertical-align: top;
	border-radius: 8px;
	box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	float: right;
}

.stop_button:active {
	transform: scale(0.9);
}

.stop_button_text {
	text-align: center;
	color: #FFEEDD;
	display: table-cell;
	width: 80px;
	height: 80px;
	vertical-align: middle;
	font-weight: normal;
	font-size: 24px;
}

.device_status {
	display: inline-block;
	vertical-align: top;
}

.canvas_wrapper {
	display: inline-block;
	margin: 4px;
	padding: 0 4px 4px 4px;
	color: black;
	background-color: #727272;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.canvas {
	background-color: #363636;
}

.axis_controls_wrapper {
	display: inline-block;
	vertical-align: top;
}

.axis {
	display: inline-block;
	margin: 4px;
	padding: 0 4px 4px 4px;
	color: black;
	background-color: #727272;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.axis_title {
	font-size: 20px;
	margin: 2px;
	margin-top: 0;
}

.ttab {
	display: table;
	margin: 4px;
}

.trow {
	display: table-row;
}

.tcell {
	display: table-cell;
	padding: 2px 8px;
}

.cgrp {
	color: black;
	border-collapse: separate;
	border-spacing: 1px 1px;
}

.ccell {
	background-color: #A9AAA9;
	box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.ccell:first-child {
	border-radius: 8px 0 0 8px;
}

.ccell:last-child {
	border-radius: 0 8px 8px 0;
}

.cbtn {
	display: inline-block;
	font-size: 16px;
	padding: 4px 8px;
	cursor: pointer;
	color: black;
	background-color: #618DCF;
	border: none;
	text-decoration: none;
	vertical-align: top;
	border-radius: 8px;
	margin: 4px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.cbtn:active {
	transform: scale(0.9);
}

.ccellbtn {
	border-radius: 8px;
	margin: 0.5px;
	padding: none;
}

.ccell_active {
	background-color: #618DCF;
}

.ccol_good {
	background-color: #a3d661;
}

.ccol_warn {
	background-color: #fde071;
}

.ccol_error {
	background-color: #e06868;
}

.ccellbtn_inactive {
	background-color: #A9AAA9;
}
